# Compiled class file
*.class

# Log files
*.log
logs/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Gradle
.gradle/
gradle/
common/build/
member/build/
mysub/build/
recommend/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Other
*.swp
*~
.project
.nfs*